.search-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-input {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.search-icon {
  background-color: #333333;
  font-size: 2.25rem;
  padding: .5rem;
}